<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" ></script>
</head>
<body>
<form action="testput" method="post">
    <input type="hidden" name="_method" value="put">
   姓名 <input type="text" name="name" >
    <br>
    密码 <input type="password" name="password">
    <input type="submit" value="提交">
</form>

<form  method="post" id="deletefrom">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="删除">
</form>

<button class="btn btn-sm deletebtn" uri="testdelete/55" value="55"> 55</button>
<button class="btn btn-sm deletebtn" uri="testdelete/66" value="66"> 66</button>

<script>
   $(".deletebtn").click(function () {

       $("#deletefrom").attr("action",$(this).attr("uri")).submit();
   });
</script>


</body>
</html>